<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Instructions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/candidate.css">
</head>
<body>
  <div class="container mt-5">
    <h2>Quiz Instructions</h2>
    <p>Before you start the quiz, please read the following instructions carefully:</p>
    <ul>
      <li>The quiz consists of multiple-choice, check all that apply, and free-form answer questions.</li>
      <li>Make sure to answer all questions before submitting the quiz.</li>
      <li>You have a limited amount of time to complete the quiz. A timer will be displayed on the quiz page.</li>
      <li>Once you submit the quiz, you will not be able to make any changes.</li>
    </ul>
    <button class="btn btn-primary" onclick="location.href='candidate_quiz.html'">Start Quiz</button>
  </div>
</body>
</html>
